<div class="overlay" (click)="close()">
  <div class="auth-container" (click)="$event.stopPropagation()">
    <!-- <button class="close-btn" (click)="close()">X</button> -->
    <div class="toggle">
      <button (click)="toggleMode()" [disabled]="isLogin">Zaloguj się</button>
      <button (click)="toggleMode()" [disabled]="!isLogin">Zarejestruj się</button>
    </div>

    <form *ngIf="isLogin" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
      <label>Adres e-mail</label>
      <input formControlName="email" placeholder="Wprowadź adres e-mail">

      <label>Hasło</label>
      <input type="password" formControlName="password" placeholder="Wprowadź hasło">

      <button type="submit">Zaloguj</button>
    </form>

    <form *ngIf="!isLogin" [formGroup]="registerForm" (ngSubmit)="submitRegister()">
      <label>Adres e-mail</label>
      <input formControlName="email" placeholder="Wprowadź adres e-mail">

      <label>Hasło</label>
      <input type="password" formControlName="password" placeholder="Wprowadź hasło">

      <label>Potwierdź hasło</label>
      <input type="password" formControlName="confirmPassword" placeholder="Potwierdź hasło">

      <button type="submit">Zarejestruj</button>
    </form>

    <div *ngIf="error" class="error">{{ error }}</div>
  </div>
</div>
