<div class="watchlist-container">
    <h3>Watchlists</h3>

    <div class="watchlist-list" *ngIf="loading">Loading...</div>
        <div *ngIf="error" class="error">{{ error }}</div>

        <div *ngIf="!loading && watchlists.length === 0">No watchlists</div>

        <div *ngFor="let wl of watchlists" class="watchlist">
            <div class="watchlist-grid">
            <app-watchlist-button
                *ngFor="let item of wl.watchlistItems"
                [symbol]="item.symbol"
                [active]="item.symbol === selectedSymbol"
                (select)="selectSymbol($event)"
            ></app-watchlist-button>

            <button class="watchlist-add-btn" type="button" (click)="openAdd(wl)" style="grid-column: 1 / -1">
                + Dodaj
            </button>
        </div>
    </div>
</div>