<div class="watchlist-container">
    <div class="watchlist-header">
        <h3>Watchlists</h3>
    </div>

    <div *ngIf="error" class="error">{{ error }}</div>
    <!-- <div *ngIf="loading" class="watchlist-list">Loading...</div> -->
    <div *ngIf="!loading && watchlists.length === 0">No watchlists</div>

    <div *ngFor="let wl of watchlists" class="watchlist">
        <div class="watchlist-grid">
            <button
                class="watchlist-item"
                *ngFor="let item of wl.watchlistItems"
                type="button"
                (click)="selectSymbol(item.symbol)"
                aria-label="Select {{ item.symbol }}"
                (contextmenu)="removeFromWatchlist($event, wl.name, item.symbol)"
            >
                {{ item.symbol }}
            </button>

            <button class="watchlist-add-btn" type="button" (click)="add()">
                + Dodaj
            </button>
        </div>
    </div>
</div>